
<div class="table">

    <h1 >RELATED INFORMATION</h1>
    <div class="dialog-box">
        <div class="element">
            <p class="row-col">Id</p>
            <p>{{card_data[0].ID}}</p>
        </div>
        <div class="element">
            <p class="row-col">Name</p>
            <p>{{card_data[0].Name}}</p>
        </div>
        <div class="element">
            <p class="row-col">Gender</p>
            <p>{{card_data[0].Gender}}</p>
        </div>
        <div class="element">
            <p class="row-col">Class</p>
            <p>{{card_data[0].Class}}</p>
        </div>
        <div class="element">
            <p class="row-col">Seat</p>
            <p>{{card_data[0].Seat}}</p>
        </div>
        <div class="element">
            <p class="row-col">Club</p>
            <p>{{card_data[0].Club}}</p>
        </div>
        <div class="element">
            <p class="row-col">Persona</p>
            <p>{{card_data[0].Persona}}</p>
        </div>
        <div class="element">
            <p class="row-col">Crush</p>
            <p>{{card_data[0].Crush}}</p>
        </div>
        <div class="element">
            <p class="row-col">Size</p>
            <p>{{card_data[0].Size}}</p>
        </div>
        <div class="element">
            <p class="row-col">Strength</p>
            <p>{{card_data[0].Strength}}</p>
        </div>
        <div class="element">
            <p class="row-col">Hairstyle</p>
            <p>{{card_data[0].Hairstyle}}</p>
        </div>
        <div class="element">
            <p class="row-col">Color</p>
            <p>{{card_data[0].Color}}</p>
        </div>
        <div class="element">
            <p class="row-col">Eyes</p>
            <p>{{card_data[0].Eyes}}</p>
        </div>
    </div>